html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* 补充 图片内容 必须加引号 */
    background: url("/assets/images/login_bg.jpg") no-repeat top center;
    background-size: cover;
}
/* 调整图片位置 */
.layui-main-img img{
    margin-top: 15px;
}

/* 注册登陆区域 */
.loginAndRegBox{
    width: 400px;
    height: 310px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* 区域标题 */
.titleBox{
    height: 60px;
    background: url("/assets/images/login_title.png") no-repeat center;
}

/* 修改表单样式 */
.layui-form{
    padding: 0 30px;
}
/* a标签右移 */
.links{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

/* 字体图标位置的调配  如果项目很大，类名用的很多，就要重新起类名*/
.layui-form-item{
    position: relative;
}
.layui-icon{
    position: absolute;
    top: 10px;
    left: 10px;
}
.layui-input{
    padding-left: 32px;
}